/* ------------------------------- PHONE DEFAULT ------------------------------- */

header {
  background-color: #f4f4f4;
  padding: 1em 0 .5em 0;
}
div.logo {
  height:68px;
  width:104px;
  background-repeat: no-repeat;
  margin-top: .5em;
  float:left;
}

header a.tel {
	font-size:1.3em;
	display:block;
	float: right;
	margin-right:  1%;
	color: #c53831!important;
	text-decoration:none;
	text-align:right;
	z-index: 999;
}
header ul.social {
	margin: .5em 0 0 0;
	float: right;
	clear: right;
}
header ul.social li {
	float: left;
	list-style-type:none;
}
header ul.social li a {
	width: 2.4em;
	height: 2.4em;
	display: block;
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:auto 90%;
}
header ul.social li.twitter a {background-image: url(../images/social_twitter.png);}
header ul.social li.facebook a {background-image: url(../images/social_face.png);}
header ul.social li.plus a {background-image: url(../images/social_plus.png);}
header ul.social li.youtube a {background-image: url(../images/social_youtube.png);}

.top-bar ul {
  list-style-type: none;
}

.top-bar-left ul li {
  display: block;
}

.row h1{
  color: #c53831;
  font-family: 'Helvetica neue'
}

ul.tabs li a{
  color:#000000;
  font-weight: bold;
}

.tabs-content {
  margin-bottom: 10px;
}





/* --------------------------------- TABLET CSS --------------------------------- */
@media only screen and (min-width: 40.063em) {

  div.logo {
    height:102px;
    width:157px;
    margin-top: 1em;
  }

  header a.tel {
  		font-size:1.6em;
  	}
  	header ul.social {margin-top: 1em;}
  	header ul.social li a {
  		width: 3.1em;
  		height: 3.1em;
  		background-size:auto auto;
  	}

    .top-bar-left ul li {
      display: inline-block;
    }





} /*end tablet*/

/* --------------------------------- DESKTOP CSS --------------------------------- */
@media only screen and (min-width: 64.063em) {
  div.logo {
    height:135px;
    width:207px;
  }


} /*end desktop*/
